html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: .0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body  {
	font-family: 'san-serif'
}
div {
	border: 1px Chocolate;
}
/* start of custom styles */
.content {
	padding: 0px 15px;
	margin: 0 auto;
	width: 970px;
}
/* Navigation Section */
.top-navigation {
    background: rgb(212, 9, 30); /* Fallback */
    background: rgba(212, 9, 30, 0.5);
	position: fixed;
	width: 100%;
	border-bottom: 1.5px solid black;
	z-index: 9999;
	
}
.top-navigation:hover {
	opacity: 1.0;
}
.top-navigation > .content {
	height: 65px;
}
.top-navigation h1 {
	font-size: 2.5rem;
	margin-bottom: 0.55rem;
	margin-top: 0.45rem;
	letter-spacing: 0.10rem;
	font-family: 'Indie Flower', cursive;
	text-shadow: 2px 2px 2px #fff;
	font-style: bold;
}
.top-navigation h4 {
	font-size: 1.55rem;
	letter-spacing: 0.10rem;
	font-family: 'Indie Flower', cursive;
	text-shadow: 1px 1px 1px #fff;
	margin-left: 0.7rem;
	font-style: bold;
}
.top-navigation .links {
	float: right;
	font-family: 'Indie Flower';
	font-size: 18px;
	margin-bottom: 0px;

}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
	font-size: 1.4rem;
	padding: 0 10px;
	text-shadow: 1px 1px 1px #fff;
}
.top-navigation .links .active {
    font-style: bold;
    font-weight: 500;
}
.top-navigation .content .header {
	margin-top: 15px;
	margin-bottom: -5px;
}
/* Book Trailer */
.video .content {
	margin: 0 auto;
	text-align: center;
	margin-top: 35px;
}
/* Main Section */
.main {
	background-image: url('dogwood035.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.main > .content {
	margin: 0 auto;
	padding: 0 0.938rem;
	min-width: 37.5rem;
	text-align: center;
	color: #fff;
}
.main h1 {
	margin-top: 19.5rem;
	font-size: 5.735rem;
	font-weight: 400;
	color: #800000;
	font-family: 'Indie Flower', cursive;
	text-shadow: 2.5px 2.5px 3.5px #fff;
}
/* The Stuff */
.stuff .content {
	margin-top: 7.875rem;
	padding: none;
	color: #1d1e21;
	text-align: center;
	}

.stuff .content p {
	margin: 1.5rem 0;
}
.stuff .content .italics {
	font-style: italic;
}
.stuff .river {
	border-radius: 370px / 300px;

}
.river:hover {

}
/* Group Pic & Quote */
.stuff .group > li {
	display: inline;
	float: left;
	width: 50%;
}
/* blockquote */
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -8px;
top: -8px;
color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
/* Links */
a {
	color: Blue;
}
a:hover {
	cursor: pointer;
}